html {
    font-size: 18px;
    font-family: 'kantumruy', sans-serif;
    background-color:#58869a;
}

Body {
    margin: 0;
    background-color: white;
}
.container {

    display: grid;
    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: 150px 450px ; */
}

/* HEADER AND MAIN MENU */
.menu, #logo {
    display: flex;
    flex-direction: row;
}
.menu {
    font-family: 'irish grover';
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
/* #logo {
    display: flex;
} */
.headerlogo, .headermenu {
    background-color: #6FA0B5;
    padding: 10px;
    flex-direction: row;
    /* margin-bottom: 30px; */
}
.headerlogo {
    grid-column: 0/ 1;
  
}
.headermenu {
    grid-column:  2/4;
    padding-right: 30px;
}

/* HOME PAGE MIDDLE */

.homebody {
    max-width: 1100px;
    grid-column: 1/9;
    grid-row: 2;
    margin: 0;
    overflow-x: hidden;
    
    width: 100vw;
    position: relative;
    height: 500px;
    margin: 2em 0;
}
.carousel-container {
    
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    /* width: 1100; */
    height: 300;
}
.slide {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}
.slide img {

    height: 100%;
    width: 300px;
    object-fit: cover;
}
@media screen and (max-width: 600px) {
    .carousel-container {
        height: 100px;
        width: 800%;
    }
    .slide img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

/* FOOTER  */
footer {
    background-color:#6FA0B5;
    grid-column: 1 / 4;
    text-align: center;
    padding: 25px;
    /* margin-top: 30px; */
    color: white;
}

/* WORK PAGE */
.worklabel {
    grid-column: 1 /4;
    text-align: center;
    font-family: 'irish grover';
}
#coloredimg {
    grid-column: 1/4;
    text-align: center;
}
#pensimg {
    grid-column: 1/4;
    text-align: center;
}
#digitalimg {
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 50px;
}
article:hover .imgbutton {
    opacity: .65;
    transition: 200ms ease-in-out;
    }

/* WORK PAGE SUBPAGES */
.workimg, .workpara, .workheader{
    text-align: center;
    grid-column: 1/4;
}
.workheader {
    padding: 15px;
    margin-top: 25px;
    font-family: 'irish grover';
}
.workpara {
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 30px;
}
.bottomworkpara {
    padding-bottom: 100px;
}

/* ABOUT ME PAGE */
#aboutmeimg {
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    grid-column: 1 / 4;
}
#aboutmepara {
    text-align: left;
    grid-column: 1 / 4;
    margin-left: 140px;
    margin-right: 140px;
}
#myname {
    margin-bottom: 25px;
    color: #6FA0B5;
    font: bold;
    font-size: 1.25;
}
#featuredheader {
    grid-column: 1/4;
    text-align: center;
    font-family: 'irish grover';
}
#featuredpersonal {
    grid-column: 1 / 4;
    text-align: center;
}
#personalpara {
    grid-column: 1 / 4;
    text-align: left;
    margin-left: 140px;
    margin-right: 140px;
}
#featuredschool {
    grid-column: 1 / 4;
    text-align: center;
}
#schoolpara {
    grid-column: 1 / 4;
    text-align: left;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 50px;
}





@media (min-width: 600px) {

    .container {
        /* grid-template-columns: 200px, 200px, 200px; */
        grid-template-columns: repeat(8, 1fr);
     max-width: 1100px;
        margin: auto;
    }
    /* HEADER AND MAIN MENU */
.menu, #logo {
    display: flex;
    flex-direction: row;
}
.menu {
    font-family: 'irish grover';
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 50px;
    list-style: none;
    grid-column: 5/9;
   
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;

}
#logo {
    display: flex;
}
.headermenu, .headerlogo {
    background-color: #6FA0B5;
    grid-column: 1 / 9;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.headermenu {
    grid-row: 1;
    grid-column: 6/9;
}
.headerlogo {
    grid-row: 1;
}


/* FOOTER  */
footer {
    background-color:#6FA0B5;
    grid-column: 1 / 9;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
    color: white;
}

/* ABOUT ME PAGE */
#aboutmeimg {
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    grid-column: 2/ 4;

}
#aboutmepara {
    margin-top: 90px;
    justify-content: center;
    font-size: 1.25rem;
    text-align: left;
    grid-column: 4/ 9;
}
#myname {
    margin-bottom: 25px;
    color: #6FA0B5;
    font: bold;
    font-size: 1.25;
}
#featuredheader {
    grid-column: 1/9;
    text-align: center;
    font-family: 'irish grover';
}
#featuredpersonal {
    padding: 20px;
    grid-column: 2 / 4;
    text-align: center;
}
#personalpara {
    margin-top: 120px;
    font-size: 1.25rem;
    text-align: left;
    grid-column: 4/ 9;
}
#featuredschool {
    padding: 20px;
    grid-column: 2 / 4;
    text-align: center;
}
#schoolpara {
    margin-top: 90px;
    font-size: 1.25rem;
    text-align: left;
    grid-column: 4/ 9;
}

/* WORK PAGE */
.worklabel {
    grid-column: 1 /9;
    text-align: center;
    font-family: 'irish grover';
}
#coloredimg {
    grid-column: 1/9;
    text-align: center;
}
#pensimg {
    grid-column: 1/9;
    text-align: center;
}
#digitalimg {
    grid-column: 1/9;
    text-align: center;
    margin-bottom: 50px;
}
article:hover .imgbutton {
    opacity: .65;
    transition: 200ms ease-in-out;
    }

    /* WORK PAGE SUBPAGES
    
    Plan on making seperate bigger images for these ones and having them be able to fit in multiple squares*/
.workimg, .workpara, .workheader{
    text-align: center;
    grid-column: 1/9;
}
.workheader {
    padding: 15px;
    margin-top: 25px;
    font-family: 'irish grover';
}
.workpara {
    margin-left: 340px;
    margin-right: 340px;
    margin-bottom: 30px;
}
.bottomworkpara {
    padding-bottom: 100px;
}
}

